@font-face {
    font-family: starWarsFont;
    src: url(./Starjedi.ttf)
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/Background.jpg);
    background-size: cover;
}

h1 {
    font-size: 250%;
    font-family: starWarsFont;
    color: gold;
    background-color: black;
    border: 4px solid gold;
    line-height:140%;
    display: inline-block;
    padding-left: 15px;
    border-radius: 8px;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 130%;
    /* background: lightgrey;
    border: 2px solid grey;
    border-radius: 3px; */
}

a {
    color: black;
    text-decoration:none;
}

/* Sizes the images in the character windows */
.portrait {
    width: 180px;
    height: 160px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

/* shared dimensions accross character windows */

.playerChoice, .chosenPlayer, .enemy {
    height: 210px;
    width: 200px;
    float: left;
    text-align: center;
    border-radius: 8px;
}

.playerChoice, .chosenPlayer {
    background-color: #ffffff;
    border: 1px solid green;

}

.enemy {
    background-color: #000000;
    border: 1px solid red;
    color: white;
  
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#reset {
    display: none;
}