@font-face {
    font-family: starWarsFont;
    src: url(./Starjedi.ttf)
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/Background.jpg);
    background-size: cover;
    /* display: flex; */
}

.playerChoice {
    background-color: #ffffff;
    border: 1px solid green;
    height: 200px;
    width: 200px;
    float: left;
}

.chosenPlayer {
    background-color: #ffffff;
    border: 1px solid green;
    height: 200px;
    width: 200px;
    float: left;
}

.enemy {
    background-color: #000000;
    border: 1px solid red;
    height: 200px;
    width: 200px;
    float: left;
}

.portrait {
    width: 180px;
    height: 160px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  

#gameStart {
    font-family: starWarsFont;
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: 300%;
    margin: auto;
    color: #e5b13a;
    background-color: #000;
    border: 4px solid #e5b13a;
    border-radius: 10px;
}

#playArea {
    /* display: none; */
    text-align: center;

}

